<h4>Account</h4>
<nav>
<ul>
    <li><a routerLink="/news-feed" routerLinkActive="active">News feed</a></li>
    <li><a routerLink="/blocked-accounts" routerLinkActive="active">Blocked Accounts</a></li>
    <li><a routerLink="/account-update" routerLinkActive="active">Account update</a></li>
    <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
    <li><a ref="#">Logout</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
