<div class="col-md-1 card rounded-0">
<h4>Upload Media</h4>
</div>

<nav>
    <ul>
        <li><a routerLink="/single-media">Single Media</a></li>
        <li><a routerLink="/multi-media">Multi Media</a></li>
      </ul>
    </nav>
    
<!-- <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/single-media" routerLinkActive="active">Single Media</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/multi-media" routerLinkActive="active">Multi Media</a>
    </li>
  </ul> -->

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
