  <div class="col-md-2">
    <div class="card rounded-0">
  <h4>Account</h4>
  </div>
<nav>
<ul>
     <li><a routerLink="/login-component">Login</a></li>
    <li><a routerLink="/register-component">Register</a></li>

    <!-- <li *ngIf='isLoggedIn'><a routerLink="/news-feed" routerLinkActive="active">News feed</a></li>
    <li *ngIf='isLoggedIn'><a routerLink="/blocked-accounts" routerLinkActive="active">Blocked Accounts</a></li>
    <li *ngIf='isLoggedIn'><a routerLink="/account-update" routerLinkActive="active">Account update</a></li>
    <li *ngIf='isLoggedIn'><a routerLink="/search" routerLinkActive="active">Search</a></li>
    <li *ngIf='isLoggedIn's><a ref="#">Logout</a></li> -->

  </ul>
</nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
